#blog h2,h4 {
    text-align: center;
    color:#1e2351;
   
}
#blog h3{
    text-align: center;
    color:#fff;
    background-color: #1e2351;
    font-weight: normal;
    padding-top: 3%;
   
    padding: 20px;
    
}
#blog .contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#blog article{
    margin: 15px;
}

#blog img {
    width: 100%;
    max-width: 280px;
}