* {
    box-sizing: border-box;
}

.container-slider {
    width: 500px;
    height: 300px;
    background-color: aqua;
    box-shadow: 0 0 0 5px #383232,
                 0 15px 50px;
    border-radius: 15px;

    position: relative;
    
    
}

.slider {
    width: 100%;
    height: 100%;
    display: flex;
    transform: translateY(25%);
}
.slider_section{
    width: calc(100% / 4);
    height: 100%;
}
.slider_section img{
    width: 500px;
    height: 100%;
    object-fit:cover;
    border-radius: 15px;
}


.slider_btn {
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgba(255, 255,255, 0.7);
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.slider_btn:hover {

    background: #fff;
}

.slider_btn--left{
    left: 10px;
}


.slider_btn--right{
    right: 10px;
}
@media (min-width:1024px) {
    .contenedor-slider {
       width: 800px;
    }
  }